* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
    body {
    font-family: sans-serif;
    }
    
    .container{
    width:1500px;
    }
    
    .product {
    width:825px;
    margin: 100px auto;
    border: 5px solid black;
    position:relative;
    }
    
    .product::before{
    position: absolute;
    content: 'SALE';
    background-color: #f00;
    top: -19px;
    left: -34px;
    padding: 7px;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    }
    
    .product-title {
    text-transform: uppercase;
    background-color: #afafaf;
    text-align: center;
    padding: 10px;
    }
    
    img{
    float: left;
    }
    
    /*PRODUCT INFO*/
    product-info{
      float: left;
      width: 200px;
      padding: 400px;
    }
    
    .price {
    font-size: 30px;
    
    }
    
    .shipping {
    text-transform: uppercase;
    font-size: 12px;
    color: #afafaf;
    margin-bottom: 20px;
    }
    
    .product-description{
    margin-bottom: 20px;
    }
    
    /*ALWAYS SPECIFY FOR LINKS ALL FOUR STATES AND IN THE ORDER LINK, VISITED, HOVER, ACTIVE */
    
    .more-info:link, .more-info:visited {
    color: black;
    
    }
    
    .more-info:hover, .more-info:active {
    text-decoration: none;
    
    }
    /***********************/
    
    .colors {
    margin:30px 0;
    
    }
    
    .colors span {
    width:25px;
    height: 25px;
    display: inline-block;
    margin-right: 7px;
    }
    
    .black{
    background-color: black;
    }
    .blue {
    background-color: blue;
    }
    .red{
    background-color: red;
    }
    .yellow{
    background-color: yellow;
    }  
    .green {
    background-color: green;
    }
    .brown{
    background-color: brown;
    }
    /**************************************/
    
    
    /*PRODUCT DETAILS*/
    
    .product-details{
      float:right;
      width: 300px;
    }
    
    .details-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    }
    
    .details-list{
    list-style-type: square;
    margin-left:20px;
    line-height:2;
    margin-bottom:20px;
    }
    
    
    .add-cart{
    width:100%;
    padding:12px;
    border-top: 5px solid black;
    background-color:black;
    color:white;
    text-transform: uppercase;
    cursor: pointer;
    }
    
    .add-cart:hover{
    background-color:white;
    color:black;
    }
    
    /***********************************/